/* Ejercicio 24: Mixins */

// 1. Define un @mixin para botones


// 2. Define un @mixin para centrar elementos (flexbox)


// 3. Aplica los mixins a las clases .btn-success, .btn-danger, .box