* {
    margin: 0;
    padding: 0
}

body {
    font-family: Arial;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.contenido h2 {
    background-color: #f4f4f4;
}

#titulo-principal {
    color: #0056b3;
    text-align: center;
    font-size: 2.5rem;
}

.contenido {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.destacado {
    color: red
}